footer {
  padding-top: 20px;
}

.link {
  padding-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
  padding: 10px;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}

.cards {
  background-color: rgb(242, 237, 211);
  padding-left: 0.25rem;
  padding-bottom: 1rem;
  margin-left: 0.25rem;
  border-radius: 1%;
  border: 2px solid black;
}

a {
  color: inherit;
}

h1 {
  margin-left: 0.25rem;
}
