footer {
    padding-top: 20px;
}

.link {
    padding-top: 20px;
}

.row {
    display: flex;
    flex-direction:row;
}

.column {


}


.cards {
    background-color: rgb(242, 237, 211);
}

a {
    color:inherit;
}

.line {

}