footer {
    padding-top: 20px;
}

.link {
    padding-top: 20px;
}

.row {
}

.column {
    padding: 10px;
    
}


.cards {
    background-color: rgb(242, 237, 211);
    width: 33%;
    padding-left: 0.25rem;
    padding-bottom: 1rem;
    margin-left: 0.25rem;
    border-radius: 1%;
    border: 1px solid black;

}

a {
    color:inherit;
}

h1 {
    margin-left: 0.25rem;
}